.novelslist{ margin: 10px auto; border:3px solid #A6D3E8; width:968px;  padding:3px; background:#FEF9EF;}
.novelslist .content{ border-right:dotted 1px #A6D3E8; padding:0px 3px; float:left; width:315px;}
.novelslist .content h2{ border-bottom:solid 1px #A6D3E8; font-size:14px; font-weight:bold; padding-left:5px; line-height:25px; height:25px; overflow:hidden; margin: 0;}
.novelslist .content .image{ padding:10px 0px 0px 5px; float:left; width:71px;}
.novelslist .content .image img{ width:67px; height:82px; border:solid 1px #DDDDDD; padding:1px; background-color:white;}
.novelslist .content dl{ padding:10px 0px 0px 0px; float:right; width:219px;}
.novelslist .content dl dt{ height:25px; line-height:25px; overflow:hidden; font-weight:bold;}
.novelslist .content dl dd{ line-height:20px; height:60px; overflow:hidden;}
.novelslist .content ul{ padding:10px 0px 0px 0px;}
.novelslist .content ul li{ color:#B3B3B3; height:20px; line-height:20px; font-size:12px; overflow:hidden; float:left; width:155px;}
.novelslist .content ul li a{ font-size:13px;}
.novelslist .border{ border:0px;}
.novelslist h2 {background-color: #F6F8FE; border-bottom: 1px solid #DDDDDD; font-size: 14px; font-weight: bold; height: 30px; line-height: 30px; overflow: hidden; padding: 0 0 0 10px;}
.novelslist ul{ padding:10px;}
.novelslist li{ padding:5px 0px 0px 0px; border-bottom:solid 1px #DDDDDD; height:25px; line-height:25px; overflow:hidden;}
.novelslist li span{ float:left; display:inline-block;}
.novelslist li .s1{ width:10%;}
.novelslist li .s2{ width:20%;}
.novelslist li .s3{ width:49%;}
.novelslist li .s4{ color:#B3B3B3; width:15%;text-align:right;}
.novelslist li .s5{ color:#B3B3B3; float:right; text-align:right;}
.novelslist li .s6{ width:20%; color:#B3B3B3;}
.novelslist li a{ color:#6F78A7;}
