<div class="novelslist" *ngFor="let categories of categoryHot">
    <div class="content border" *ngFor="let category of categories">
        <h2>{{category.book.categoryName}}</h2>
        <div class="top">
            <div class="image">
                <a [routerLink]="['/book/bookInfo',category.book.id]">
                    <img src="{{category.book.pic}}" alt="{{category.book.name}}" width="67" height="82" />
                </a>
            </div>
            <dl>
                <dt><a [routerLink]="['/book/bookInfo',category.book.id]">{{category.book.name}}</a></dt>
                <dd> {{category.book.intro}}</dd>
            </dl>
            <div class="clear"></div>
        </div>
        <ul>
            <li *ngFor="let item of category.books">
                <a [routerLink]="['/book/bookInfo',item.id]">{{item.name.substr(0,7)}}</a>/{{item.author}}
            </li>
        </ul>
    </div>
    <div class="clear"></div>
</div>