<div class="l">
    <h2>好看的{{categoryName}}最近更新列表</h2>
    <ul>
        <li *ngFor="let item of recentUpdateList">
            <span class="s2">《<a routerLink="/novel_info"
                    [queryParams]="{id:item.id}">{{item.name.substr(0,11)}}</a>》</span>
            <span class="s3">
                <a *ngIf="item.new_chapter" routerLink="/content_info"
                    [queryParams]="{id:item.new_chapter_id,categoryId:item.category_id}">{{item.new_chapter}}</a>
                ({{item.update_time | date:"MM-dd"}})</span>
            <span class="s5">{{item.author}}</span>
        </li>
    </ul>
</div>
<div class="r">
    <h2>好看的{{categoryName}}</h2>
    <ul>
        <li *ngFor='let item of hotList'>
            <span class="s2">
                <a routerLink="/novel_info" [queryParams]="{id:item.id}">{{item.name}}</a>
            </span>
            <span class="s5">{{item.author}}</span>
        </li>
    </ul>
</div>
<div class="clear"></div>