<div class="header">
  <div class="header_logo">
    <a href="/">笔趣阁</a>
  </div>
</div>
<div class="nav">
  <ul>
    <li><a href="/">首页</a></li>
    <li *ngFor="let item of categoryList | async"><a
        routerLink="/category_info.html?categoryId={{item.id}}">{{item.name}}</a>
    </li>
    <li><a href="">临时书架</a></li>
  </ul>
</div>
<!-- <router-outlet></router-outlet> -->
<div id="main">
  <div id="hotcontent">
    <app-hot-content></app-hot-content>
  </div>
  <div id="newscontent"></div>
</div>